@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2184 0.0276 277.5823);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2184 0.0276 277.5823);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.5184 0.2366 286.1812);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5184 0.2366 286.1812);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.6160 0.1881 291.2089);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9116 0.0122 281.0685);
  --input: oklch(0.9116 0.0122 281.0685);
  --ring: oklch(0.5275 0.2477 284.8536);
  --chart-1: oklch(0.6134 0.2090 272.3090);
  --chart-2: oklch(0.6801 0.1583 276.9349);
  --chart-3: oklch(0.7853 0.1041 274.7134);
  --chart-4: oklch(0.8699 0.0622 274.0386);
  --chart-5: oklch(0.9299 0.0334 272.7879);
  --sidebar: oklch(0.9642 0.0041 271.3692);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.6134 0.2090 272.3090);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9642 0.0041 271.3692);
  --sidebar-accent-foreground: oklch(0.2178 0 0);
  --sidebar-border: oklch(0.9197 0.0040 286.3202);
  --sidebar-ring: oklch(0.6134 0.2090 272.3090);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Instrument Serif, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.8rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.3rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2103 0.0059 285.8852);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2103 0.0059 285.8852);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.7049 0.1867 47.6044);
  --primary-foreground: oklch(0.1448 0 0);
  --secondary: oklch(0.6131 0.2120 256.3304);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.6136 0.1648 137.9494);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2739 0.0055 286.0326);
  --ring: oklch(0.7049 0.1867 47.6044);
  --chart-1: oklch(0.7049 0.1867 47.6044);
  --chart-2: oklch(0.6131 0.2120 256.3304);
  --chart-3: oklch(0.6136 0.1648 137.9494);
  --chart-4: oklch(0.6268 0.2325 303.9004);
  --chart-5: oklch(0.6559 0.2118 354.3084);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.7118 0.0129 286.0665);
  --sidebar-primary: oklch(0.7049 0.1867 47.6044);
  --sidebar-primary-foreground: oklch(0.1448 0 0);
  --sidebar-accent: oklch(0.6136 0.1648 137.9494);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.7049 0.1867 47.6044);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Instrument Serif, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.8rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}